<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL shortener</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>
<a href="/home">
    <h1>URL shortener</h1>
</a>
<br>
<h1>History</h1>
<table border="1" style="width:100%">
    <thead>
    <tr>
        <th style="width:60%">Long URL</th>
        <th style="width:10%">Short URL id</th>
        <th style="width:20%">Timestamp</th>
        <th style="width:10%">Delete URL</th>
    </tr>
    </thead>
<tbody>
<tr th:each="urlData:${urlList}">
    <td style="text-align: center" th:text="${urlData.getLongURL()}"></td>
    <td style="text-align: center" th:text="${urlData.getShortId()}"></td>
    <td style="text-align: center" th:text="${urlData.getDate()}"></td>
    <td style="text-align: center"><a th:href="|/delete/${urlData.getShortId()}|">Delete</a></td>
</tr>
</tbody>
</table>

</body>
</html>