<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>URL shortener</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br>
<a href="/home">
    <h1>URL shortener</h1>
</a>
<form th:action="'/shorten'" method="post">
    <div id="inputfield">
        <input type="url" name="pastedURL" required placeholder="paste long URL here" size="60">
    </div>
    <div id="button">
        <input type="submit" value="Short!">
    </div>
</form>
<br>
<a href="/history">
    <h3>Show history</h3>
</a>
</body>
</html>